* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ROOT COLORS */

:root {
    --row-fixed: rgba(8,11,18,255);
    --home: rgba(20,25,34,255);
    --left-nav: rgba(0,0,0,255);
    --player: rgba(40,40,40,255);
    --white: rgba(255,255,255,255);
    --text-home-icons: rgba(210,210,210,255);
    --text-leftnav: rgba(210,210,210,255);
    --shadows: 

}

/* ROOT SIZES */

:root {
    /* Larghezze macro aree*/
    --desktop-main-width: 1400px;
    --desktop-left-nav-width: 250px;
    --desktop-row-fixed-width: calc(100% - 250px);
    --desktop-home-width: calc(100% - 250px);
    --desktop-player-width: 100%;
    /* Altezze macro aree*/
    --desktop-left-nav-height: calc(100% - 10vh);
    --desktop-main-height: 100vh;
    --desktop-row-fixed-height: 10vh; 
    --desktop-home-height:90vh;
}

/* MAIN LAYOUT BOXES*/
main {
    max-width: var(--desktop-main-width);
    height: var(--desktop-main-eight);
    margin-inline: auto;
}

.row-fixed {
    background-color: var(--row-fixed);
    height: var(--desktop-row-fixed-height); 
    width: calc(100% - 250px);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;

}

.navleft {
    background-color: var(--left-nav);
    width: var(--desktop-left-nav-width);
    height: var(--desktop-left-nav-height);
    position: fixed;
    z-index: 2;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1.5rem;
}


.home {
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: calc(100% - 250px);
    height: var(--desktop-home-height);
    background-color: var(--home);
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;

}

.player {
    background-color: var(--player);
    height: var(--desktop-row-fixed-height); 
    width: var(--desktop-player-width);
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
}



/* HOVER EFFECTS BASIC */


.home-icon:hover {
    cursor: pointer;
    color: var(--white);
    
}


.img-hidden {
    position: relative;
    
}


.img-top:hover {
    position: absolute;
    top: 0;
    left: 0;
}

.red-hover:hover {
    color: red;    
}

.right-icon:hover {
    transform: scale(2);
}


/* LAYOUT CONTENTS */


/* ROW FIXED */

.upgrade-a {
    margin-right: 2rem;
    color: var(--white);
    background-color: var(--row-fixed);
    font-size: .9rem;
    border-radius: 30px;
    border: 1px solid var(--text-home-icons);
    padding: .7rem 2rem;
    text-decoration: none;
}

.upgrade-a:hover {
    transform: scale(1.1);
}

/* NAVLEFT */


.spotify-logo {
    width: 170px;
    padding-bottom: 3rem;
    color: #009b00;
}

.small-spotify-logo {
    display: none;
    margin-bottom: 1rem;
}

.options-nav1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--text-home-icons);
}

/* ICONE E TESTI NAVLEFT */
.text-navleft {
    font-size: 1.1rem;
    margin-left: 1rem;
    color: var(--text-home-icons);
}

.playlist-h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--white);
}


.plus-icon {
    padding: .5rem;
    color: var(--left-nav);
    background-color: var(--text-home-icons);
    display: inline;
}

.ul-pl {
    margin-top: 2rem;
}

.playlist-name {
    list-style-type: none;
    margin: .7rem 0;
}

.nav-ftr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5rem;
}

.dl-app,
.dl-icon,
.user-name {
    margin-bottom: .5rem;
}

.dl-icon,
.user-icon {
    color: var(--text-home-icons);
    display: inline;
}

.nav-left-user,
.nav-left-dl {
    margin-left: 0;
    display: flex;
    align-items: center;
}



/* FINE LEFT NAV */


/* INIZIO NAV BOX HOME-LIBRERIA */

.nav-home {
    margin-top: 3rem;
    margin-inline: auto;
	display: flex;
    justify-content: center;
}

.ul-nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-home li {
    list-style: none;
}

.nav-home a{
    margin-inline: 1rem;
    text-decoration: none;
    font-size: .8rem;
    color: var(--text-home-icons);


}

/* FINE NAV BOX HOME-LIBRERIA */

/* INIZIO CONTENUTO BOX HOME-LIBRERIA */

.music-section {
    margin-top: 3rem;
    padding-inline: 3rem;
}


.wrapper {
	--cols: 6;
	--gap: 3rem;
	display: flex;
	gap: var(--gap);
    flex-wrap: wrap ;
}

.album	{
    position: relative;
    flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
	/* flex: 0 0 calc((100% - 1 * 1rem) / 6); */
}

.album img {
    width: 100%;
}

.album-name,
.album-author {
    color: var(--text-home-icons);
    text-align: center;
}

.album-name {
    font-size: 1rem;
}

.album-author {
    margin-top: .3rem;
    font-size: .8rem;
}


.wrapper-h2 {
    margin-bottom: 1rem;
    color: var(--text-home-icons);
}

.wrapper-h3 {
    margin-bottom: 1rem;
    font-size: .8rem;
    color: var(--text-leftnav)
}

.wrapper-h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pop-artist{
    border-radius: 50%;
    }



    /* PLAYER */
    

.left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
}


.author-name-play:hover,
.song-title-play:hover,
.function-icon:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
}


    
.song-title-play,
.author-name-play {
    color: var(--text-home-icons);
    text-decoration: none;
}


.player-icon {
    color: var(--white);
}

.left,
.right {
    width: 20%;
}

.left-icon,
.right-icon{
    margin: 0 .5rem;
}

.data-song-author{
    margin-right: .8rem;
}

.song-cover{
    margin-right: .7rem;
    width: 60px;
}


.song-cover:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.player .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    flex-grow: 1;
    flex-shrink: 1;
}

.center-icon
{
    margin: 0 .7rem;
    font-size: 1.5rem;
} 


.song-progress #range {
    width: 60%;
    margin: .5rem 1rem;
    vertical-align: middle;
}


.right{
    display: flex;
    justify-content: start;
    align-items: center;
}


.volume{
    width: 40%;
} 




/* PROVA */


.img-hidden {
    position: relative;
    width: 100%;
    filter: brightness(60%);  
}

.play-button {
    position: absolute;
    filter: invert(1) brightness(90%) ; 
    top: 0;
    left: 0;
    transform: scale(0.4);
}


.img-top {
    position: absolute;
    top: 0;
    left: 0;
}

.img-top:hover {
    opacity: 0;
    cursor: pointer;

}



/* ----------------------------------- */

/*LARGE DEKSTOP*/

@media screen and (max-width: 1629px) {

    .wrapper {
    --cols: 6;
    }
}

/* DESKTOP */
@media screen and (max-width: 1488px) {


    .wrapper {
    --cols: 5;
    }
}


/* Big TABLET */
@media screen and (max-width: 936px) {


    .wrapper {
        --cols: 4;

    }
}

/* MD TABLET */

@media screen and (max-width: 809px) {


    .wrapper {
        --cols: 3;
    }

    .song-cover {
        display: none;
    }
}

/* SMALL TABLET */ 

@media screen and (max-width: 681px) {


    .wrapper {
        --cols: 2;
    }

    .song-cover {
        display: none;
    }

    .text-navleft {
        display: none;
    }

    .navleft {
        width: 70px;
    }

    
    .home,
    .row-fixed {
        width: calc(100% - 70px);
    }

    .spotify-logo{
        display: none;
    }

    .nav-ftr {
        margin-top: 30rem;
    }

    .small-spotify-logo {
        display: block;
    }
}
    


/* SM - SMARTPHONE */
@media screen and (max-width: 601px) {

    .wrapper {
        flex-direction: column;
    }

    .song-cover {
        display: none;
    }

    
    .spotify-logo{
        display: none;
    }

    .small-spotify-logo {
        display: block;
    }
    
    
    .options-nav1 {
        width: 20%;
    }
    
    .nav-ftr {
        margin-top: 30rem;
    }
    
    .text-navleft {
        display: none;
    }

    .navleft {
        width: 70px;
    }


    .home,
    .row-fixed {
        width: calc(100% - 70px);
    }
}



